<ng-container *ngIf="currentPlayerGameBoard() as currentPlayerGameBoard">
  <div *ngIf="currentPlayerGameBoard">
    <h3>My Hand</h3>
    {{ currentPlayerGameBoard.playerName }}
    <div
      class="card-columns"
      *ngIf="{
      disableReveal: !gameBoardService.isMyTurn() || gameBoardService.isLastRound(),
    } as data"
    >
      <golf-card-game-card-column
        [disableReveal]="data.disableReveal"
        [disableSwap]="!gameBoardService.isMyTurn()"
        [column]="currentPlayerGameBoard.cardGrid.col1"
        (cardClicked)="revealCard(0, $event)"
        (swap)="swapCard(0, $event)"
      ></golf-card-game-card-column>
      <golf-card-game-card-column
        [disableReveal]="data.disableReveal"
        [disableSwap]="!gameBoardService.isMyTurn()"
        [column]="currentPlayerGameBoard.cardGrid.col2"
        (cardClicked)="revealCard(1, $event)"
      ></golf-card-game-card-column>
      <golf-card-game-card-column
        [disableReveal]="data.disableReveal"
        [disableSwap]="!gameBoardService.isMyTurn()"
        [column]="currentPlayerGameBoard.cardGrid.col3"
        (cardClicked)="revealCard(2, $event)"
      ></golf-card-game-card-column>
    </div>

    <div>Total Points: {{ currentPlayerGameBoard.cardGrid | totalPoints }}</div>
  </div>
</ng-container>
